<title>Troll Detector</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="block1">
<h1>Troll Detector</h1>
<h2>Paste the contents of the tweet:</h2>
<form method="POST">
<textarea rows="4" cols="70" name="tweet">{{tweet}}</textarea><br><br>
<input type="submit" value="Analyze" id="submit"></input>
</form>

<br><br>

{% if pred == 0 %}
<h2>This tweet does not appear to be a Russian troll.</h2>
<h2>Troll likelihood: {{ prob[1] }}</h2>
<img src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-400.png">
{% endif %}

{% if pred == 1 %}
<h2>This tweet does appear to be a Russian troll.</h2>
<h2>Troll likelihood: {{ prob[1] }}</h2>
<img src="https://cdn.countryflags.com/thumbs/russia/flag-400.png">
{% endif %}



</div>

<style>
body{
    text-align: center;
    background: grey;
}
</style>